<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>About Us</title>
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <div class="container">

          {% include "header.html" %}

          {% include "nav.html" %}
          
          <main>
               <h2>Main</h2>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem accusamus voluptatem, numquam aut autem eum. Modi culpa blanditiis adipisci tempore quam aut et corrupti, deserunt, animi alias facilis quidem fugit!</p>
          </main>
          
           {% include "footer.html" %}
     </div>
<script src="/js/common.js"></script>      
</body>
</html>