<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>All Cars</title>
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <div class="container">

          {% include "header.html" %}

          {% include "nav.html" %}
          
          <main>
               <h2>Main</h2>
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem accusamus voluptatem, numquam aut autem eum. Modi culpa blanditiis adipisci tempore quam aut et corrupti, deserunt, animi alias facilis quidem fugit!</p>

           
               <h3>Cars from database</h3>
               <!-- <button class="btn btn-primary api">Fetch</button> -->
               <ol class="fetchcars">
                    {% for i in data %}
                    <li><a href="/cars/{{i.name | replace(' ','-')}}">{{i.name | title}}</a></li>
                    {% endfor %}
               </ol>

          </main>
          
           {% include "footer.html" %}
     </div>
<script src="/js/common.js"></script>     
</body>
</html>