<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login Page</title>
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <div class="container">

          {% include "header.html" %}

          {% include "nav.html" %}
          
          <main>
               <h2>Login for admins only</h2>

               <form action="/login" method="post">
                          <label> Admin :<input type="text" name="username" value="admin" autofocus required></label> 
                         
                         <label> Password : <input type="text" name="password" value="123456" required></label>
          
                         <button type="submit" class="btn btn-primary">Login</button>
                         <output>{{message}}</output>
                         <output>{{msg}}</output>
                         <output>{{error}}</output>
                         <output>{{errorMessage}}</output>
               
               </form>
               

          </main>
          
           {% include "footer.html" %}
     </div>
<script src="/js/common.js"></script>      
</body>
</html>